* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-tap-highlight-color: transparent;
}
body {
    min-width: 250px;
}

header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    font-weight: 800;
    text-transform: uppercase;
    /* border: 2px solid red; */
    height: 50px;
    width: 100%;
    background-color: brown;
    overflow: hidden; 
    z-index: 20;
    padding: 10px 5%;
}
.title {
    font-size: 1.2rem;
    text-align: start;
    /* border: 1px solid white; */
    width: fit-content;
    cursor: pointer;
}
.content-body {
    min-height: 100vh;
    min-height: 100dvh;
    padding: 60px 2%;
    background-color: rgb(235, 230, 230);
    overflow: hidden;
}
.sub-title {
    text-align: center;
    font-size: 1.4rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/****** Section 1 ******/
.section-1 {
    /* border: 2px solid black; */
    width: 100%;
    min-height: 600px;
    height: fit-content;
    padding: 3%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    z-index: 5;
}

/****------------- HORIZONTAL CARD -----------****/
.horizontal-card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    max-width: 600px;
    border: 1px solid rgba(0, 0, 0, 0.523);
    border-radius: 5px;
    align-self: center;
    color: white;
    background-color: gray;
    overflow: hidden;
    cursor: pointer;
    transition: 300ms;
    content: 'card-image';
    margin: 10px 0;
}
.horizontal-card:hover {
    transition: 300ms;
}
.horizontal-card-image {
    width: 100%;
    height: 100%;
    /* border: 2px solid red; */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
}
.card-content-wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 2;
    /* border: 1px solid greenyellow; */
    padding: 10px;
    overflow: hidden;
    gap: 5px;
    margin: 5px;
}
.card-text-content {
    height: 100%;
    width: 100%;
    /* border: 1px solid red; */
    overflow: hidden;
}
.card-title {
    font-weight: 800;
    padding: 2px;
    font-size: 1rem;
    height: 30px;
    overflow: hidden;
}
.card-description-text {
    padding: 2px;
    font-size: 0.85rem;
}
.card-update-text {
    padding: 2px;
    font-size: 0.8rem;
    height: 25px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

/****------------- HORIZONTAL CARD 2 -----------****/
.card-2 .card-content-wrapper {
    opacity: 0;
    transition: 600ms;
}
.card-2:hover .card-content-wrapper {
    opacity: 1;
    transition: 600ms;
    background-color: rgba(165, 42, 42, 0.304);
}
.card-2 .card-title, .card-2 .card-description-text, .card-2 .card-update-text {
    transform: translateY(15px);
    transition: 600ms;
}
.card-2:hover .card-title {
    transform: translateY(0);
    transition: 800ms;
}
.card-2:hover .card-description-text {
    transform: translateY(0);
    transition: 1000ms;
}
.card-2:hover .card-update-text {
    transform: translateY(0);
    transition: 1200ms;
}

/****------------- HORIZONTAL CARD 3 -----------****/
.card-3 .card-content-wrapper {
    opacity: 0;
    transition: 600ms;
}
.card-3:hover .card-content-wrapper {
    opacity: 1;
    transition: 600ms;
    background-color: rgba(54, 74, 204, 0.304);
}
.card-3 .card-title, .card-3 .card-description-text, .card-3 .card-update-text {
    transform: translateX(-100%);
    transition: 600ms;
}
.card-3:hover .card-title {
    transform: translateX(0);
    transition: 800ms;
}
.card-3:hover .card-description-text {
    transform: translateX(0);
    transition: 1000ms;
}
.card-3:hover .card-update-text {
    transform: translateX(0);
    transition: 1200ms;
}

/****------------- HORIZONTAL CARD 4 -----------****/
.card-4 .card-content-wrapper {
    transform: translateY(100%);
    opacity: 0;
    transition: 600ms;
}
.card-4:hover .card-content-wrapper {
    transform: translateY(0);
    opacity: 1;
    transition: 600ms;
    background-color: rgba(54, 204, 147, 0.304);
}
@media (min-width:1000px) {
    .section-1 {
        /* display: flex;
        flex-direction: row;
        justify-content: center; */
        display: grid;
        grid-template-columns: repeat(2, auto);
    }
}




/****** Section 2 ******/
.section-2 {
    /* border: 2px solid black; */
    width: 100%;
    min-height: 600px;
    height: fit-content;
    padding: 3%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vertical-cards-container {
    /* border: 1px solid lime; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    height: fit-content;
    margin: 5% 0;
    overflow: hidden;
}

/****------------- VERTICAL CARD -----------****/
.vertical-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.523);
    border-radius: 5px;
    width: 200px;
    height: 275px;
    min-width: 175px;
    min-height: 275px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: 600ms;
    margin: 10px 0;
}
.vertical-card:hover {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.149);
    transition: 600ms;
    transform: translate3d(300px);
}
.card-content-container {
    /* border: 1px solid red; */
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.card-image-container {
    max-height: 110px;
    color: white;
    background-color: gray;
    animation: imageAnim 2000ms ease-in-out 0ms infinite alternate forwards;
}
.vertical-card-image {
    width: 100%;
    height: 100%;
    /* border: 2px solid red; */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}
.card-text-container {
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.vertical-card .card-title, .card-description-text {
    /* border: 1px solid red; */
    color: inherit;
    overflow: hidden;
}
.vertical-card .card-title {
    font-weight: 800;
}

.animated-vertical-cards-container {
    overflow: unset;
}
.animated-vertical-card:hover {
    transform: translateY(-20px);
    transition: 600ms;
    background-color: brown;
    color: white;
}

@keyframes imageAnim {
    from {
        background-color: gray;
    }
    to {
        background-color: rgb(88, 87, 87);
    }
}

@media (max-width:650px) {
    .vertical-cards-container {
        display: grid;
        grid-template-columns: repeat(2, auto);
    }
}
@media (max-width:500px) {
    .vertical-cards-container {
        display: flex;
        flex-direction: column;
    }
}



footer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    color: white;
    background-color: gray;
    z-index: 10;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.296);
}